* {
	border: none;
	border-radius: 0.5em;
	font-family: Noto Sans;
	font-size: 1em;
	min-height: 0;
}

window#waybar {
	background-color: rgba(206, 194, 255, 0.5);
	border-bottom: 3px solid rgba(179, 179, 241, 0.5);
	color: #000000;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

#backlight,
#battery,
#cpu,
#custom-clock,
#idle_inhibitor,
#memory,
#network,
#wireplumber {
	background-color: #CEC2FF;
	padding: 0 10px;
	margin: 0 4px;
}

#taskbar button {
	background-color: rgba(179, 179, 241, 0.5);
	color: #000000
}

#taskbar button.active {
	background-color: #DCB6D5;
	color: #000000;
}

#window {
	margin: 0 4px;
}

#battery.charging {
	background-color: #DCB6D5;
}

@keyframes blink {
	to {
		background-color: #CF8BA9;
		color: #000000;
	}
}

#battery.critical:not(.charging) {
	background-color: #B15E6C;
	color: #FFFFFF;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#network.disconnected {
	background-color: #B15E6C;
	color: #FFFFFF;
}

#wireplumber.muted {
	background-color: #B15E6C;
	color: #FFFFFF;
}

#idle_inhibitor.activated {
	background-color: #B15E6C;
	color: #FFFFFF;
}
